.item {
    min-width: 32%;
    height: 240px;
    flex: 1 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      background-color: #272A2B;
      opacity: 0.9;
      position: absolute;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color: #F1921C;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }

  .item:hover{
    transform: scale(1.05);
  }