.checkout {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border: 1px solid black;
  
      .title {
        text-transform: capitalize;
        font-size: 20px;
        width: 23%;
  
        &:last-child {
          width: 8%;
          margin-right: 60px;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-bottom: 100px;
      margin-left: auto;
      font-size: 30px;
      color: red;
    }

    .total1{
      margin-right: 50px;
    }
  }